{% extends 'base.html' %}

{% load static %}

{% block content %}
<style>
    body {
        background-color: #0c0b0a;
        color: rgb(183, 125, 58);
    }

    .navbar {
        background-color: #151514;
    }

    .navbar a {
        color: rgb(183, 125, 58);
        margin: 0 15px;
        text-decoration: none;
    }

    .card {
        background-color: #0c0b0a;
        border: 1px solid #151514;
        margin-top: 20px;
    }

    .card-header {
        background-color: #b77d3a;
        text-align: center;
        color: #0c0b0a;
    }

    .card-body {
        color: rgb(183, 125, 58);
    }

    .form-label {
        color: rgb(183, 125, 58);
    }

    .form-control {
        background-color: #fff; /* Mengganti latar belakang field menjadi putih */
        color: rgb(183, 125, 58);
        border: 1px solid #151514;
        margin-bottom: 10px;
    }

    .btn-warning {
        background-color: #b77d3a;
        border: 1px solid #b77d3a;
        width: 100%;
    }
</style>
<nav class="navbar">
    <a href="{% url 'main:show_main' %}">Home</a>
    <a href="{% url 'main:logout' %}">Logout</a>
</nav>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h1>Edit Product</h1>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="form-label" for="{{ form.name.id_for_label }}">Name:</label>
                            <input type="text" name="name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="{{ form.description.id_for_label }}">Description:</label>
                            <input type="text" name="description" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="{{ form.price.id_for_label }}">Price:</label>
                            <input type="text" name="price" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="{{ form.category.id_for_label }}">Category:</label>
                            <input type="text" name="category" class="form-control">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-warning">Edit Product</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}