{% extends 'base.html' %}

{% block meta %}
    <title>Login</title>
{% endblock meta %}

{% block content %}

<div class = "login">
    <style>
        body {
            background-color: black;
            color: orange;
        }
        
        .center-cell {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        .special-paragraph {
            margin-top: 45px;
            margin-bottom: 10px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }
    
        th {
            border: 1px solid #c9582b;
            text-align: center;
            padding: 8px;
        }

        td {
            border: 1px solid #d3852b;
            text-align: left;
            padding: 8px;
        }
    
        tr:nth-child(even) {
            background-color: #0a0707;
        }
    </style>
    <h1>Login</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <table>
            <tr>
                <td>Username: </td>
                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>
                    
            <tr>
                <td>Password: </td>
                <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
            </tr>
        </table>
        <td><input class="btn login_btn" type="submit" value="Login"></td>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
        
    Don't have an account yet? <a href="{% url 'main:register' %}">Register Now</a>

</div>

{% endblock content %}