<head>
    <title>{{ app }}</title>
</head>
<body>
    <table border = 1>
        <tr>
            <td>
                App Name
            </td>
            <td>
                {{ app }}
            </td>
        </tr>
        <tr>
            <td>
                Name
            </td>
            <td>
                {{ name }}
            </td>
        </tr>
        <tr>
            <td>
                Class
            </td>
            <td>
                {{ class }}
            </td>
        </tr>
    </table>
</body>